.appbar {
    width: 100%;
    height: fit-content;

    position: fixed;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    background-color: rgba(0,0,0,0.1);
}

.logo {
    margin: 0rem 1rem;
    display: flex;
    gap:0.5rem;
    flex-direction: row;
    align-items: center;
    font-size: 1.6rem;
    color: #333;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.logout{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    margin: 0rem 0.5rem;
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
}

.logout svg:hover {
    cursor: pointer;
    fill: #333;
}